<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app>
    <servlet>
        <servlet-name>LoggingInit</servlet-name>
        <servlet-class>portal.rt.servlet.LoggingInitServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ServiceConfigurator</servlet-name>
        <servlet-class>portal.rt.services.ServiceConfigurator</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Stylesheets</servlet-name>
        <servlet-class>portal.rt.servlet.StylesheetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JavaScripts</servlet-name>
        <servlet-class>portal.rt.servlet.JavaScriptServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PortalProcess</servlet-name>
        <servlet-class>portal.rt.servlet.PortalProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RenderPortal</servlet-name>
        <servlet-class>portal.rt.servlet.RenderPortal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResourceServlet</servlet-name>
        <servlet-class>portal.rt.ui.resource.ResourceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HeartBeat</servlet-name>
        <servlet-class>portal.rt.servlet.PortalHeartBeat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartPortalInstance</servlet-name>
        <servlet-class>portal.rt.servlet.StartPortalInstance</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PortalProcess</servlet-name>
        <url-pattern>/PortalProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenderPortal</servlet-name>
        <url-pattern>/RenderPortal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HeartBeat</servlet-name>
        <url-pattern>/HeartBeat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartPortalInstance</servlet-name>
        <url-pattern>/StartPortalInstance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartPortalInstance</servlet-name>
        <url-pattern>/StopPortalInstance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Stylesheets</servlet-name>
        <url-pattern>/css</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JavaScripts</servlet-name>
        <url-pattern>/js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResourceServlet</servlet-name>
        <url-pattern>/getResource</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResourceServlet</servlet-name>
        <url-pattern>/resource/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
